@import url("normalize.css") screen;
*{
  text-decoration: none;
}
#wrapper {
    background: rgb(46,7,6) url('../img/motif-rideaux-cinema-24b.png') repeat-x ;
    font-family: 'Playfair Display', serif;
}
header {
  height: 20px;
  /*max-width: 1400px;
  width: 100%;
  margin: 0 auto;*/
}
#contentBack {
background-color: #E9EAEB;
max-width: 1400px;
width: 100%;
margin: 0 auto;
}
.wrap {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
